# Ignoring compiled files
*.pot
*.pyc
__pycache__/

# Log Files
*.log

# Workspace
.idea/

*.sublime-project
*.sublime-workspace
venv
staticfiles

#ignoring log files
logfile

# Bower Components
bower_components/*

# don't put in main.css
main.css