Django==1.6.5
PyJWT==0.2.1
South==1.0
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.1
oauthlib==0.6.3
psycopg2==2.5.3
python-openid==2.2.5
python-social-auth==0.2.1
requests==2.4.1
requests-oauthlib==0.4.1
six==1.8.0
static3==0.5.1
wsgiref==0.1.2
