  <div class="login-form">
    <p>Please Log in or Sign Up.</p>

    {% if form.errors %}
      <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action="/login/" method="post">
      {% csrf_token %}

      <fieldset>
        <input type="text" name="username" value="" id="username" placeholder="Username">
      </fieldset>
      <fieldset>
        <input type="password" name="password" value="" id="password" placeholder="Password">
      </fieldset>

      <button class="button-login" type="submit" value="Login">Login</button>
    </form>
    <form action="{% url 'social:begin' 'facebook' %}">
        <button class="button-login" type="submit"><i class="fa fa-facebook"></i>acebook Login</button>
    </form>
  </div>
  
  <div class='sign-up'>
    <p><b>New to Stereogram?</b></p>
    <a href='#' class="button-login" onClick= 'showRegistrationForm()'>Sign Up</a>
  </div>

</div>