{% extends "base.html" %}

{% block content %}

<div class="auth">

    <span class="lead">ListeningTo!</span>
    <p>Please log in or register.</p>

  <div class="login-form">

    {% if form.errors %}
      <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action="/login/" method="post">
      {% csrf_token %}

      <fieldset>
        <input type="text" name="username" value="" id="username" placeholder="Username">
      </fieldset>
      <fieldset>
        <input type="password" name="password" value="" id="password" placeholder="Password">
      </fieldset>

      <input class="button" type="submit" value="Login" />
    </form>

  </div>

  <form action="/register">
      <button class="button" type="submit">Register</button>
  </form>

  <form action="{% url 'social:begin' 'facebook' %}">
      <button class="button" type="submit">Login with Facebook</button>
  </form>

</div>

{% endblock %}