body {
  padding: 0;
  margin: 0;
  background-color: #a6e398;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
}

ol {
    padding: 0px;
    margin: 0px;
    list-style: decimal-leading-zero inside;
    color: #ccc;
    width: 460px;
    font-size: 0.9em;
    background-color: rgba(37, 25, 9, 0.42);
    font-family: 'PT Sans', Arial, sans-serif;
  }

ol li {
  position: relative;
  padding: 9px 2px 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

ol li a {
  display: block;
  margin: 0 1em;
  padding: 0px 0px 0px 20px;
  color: #ccc;
  text-decoration: none;
}

