html, body
    margin: auto
    //background-color: #BDBDBD
    background-image: url("/static/images/Elegant_Background-3.jpg") 
    font-family: 'Raleway', Helvetica, Droid Sans, sans-serif
    height: 100%
    width: 100%

    .container
        background-size: 100% auto
        height: 100%

    .audio-player
        float: left
        width: 25%

    .user-songs
        width: 40%
        @extend %center-block

    .feedbox
        float: right
        width: 25%

p.message
    background-color: lightgray
    padding: 5px
    border-radius: 3px
