html 
	height: 100%
	
body

	background: -webkit-gradient(linear, left top, right top, from($primary-color), to($secondary-color))
	background: -webkit-linear-gradient(top, $primary-color, $secondary-color)
	background: -moz-linear-gradient(top, $primary-color, $secondary-color)
	background: -o-linear-gradient(top, $primary-color, $secondary-color)
	background: -ms-linear-gradient(top, $primary-color, $secondary-color)
	background: linear-gradient(top, $primary-color, $secondary-color)
	background-color: $primary-color


