.header
	
	background-color: #fff
	margin-bottom: 2%
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.4)
	width: 100%
	height: 3em


	.user-sidebar
		float: left
		margin-left: 0em
		height: 100%

		.user-options
			float: left
			height: 100%
			cursor: pointer	
			border-top-style: solid
			border-top-width: 4px
			border-top-color: transparent

			div.new-recommendation-indicator

				height: 1.5em
				width: 4em
				background: red
				border-radius: 0.75em
				text-align: center
				font-size: 0.75em
				padding: 0.25em
				color: white
				margin-top: 1em
				margin-left: auto
				margin-right: auto

			a.button
				text-decoration: none				
				text-align: center
				padding: 0em 1em
				color: black
				font-size: 1em
				font-weight: bold
				position: relative
				top: 23%					

		#button-playlist

			&:hover
				background-color: #AA3C39

				a.button
					color: white

			&.active
				border-top-color: #571D1B
				

		#button-recommendations

			&:hover
				background-color: #AB3B78

				a.button
					color: white

			&.active
				border-top-color: #682248
				

	.user-welcome

		float: right
		text-align: center

		div
			float: left
			margin-right: 1em

		.user-profile-picture
			height: 2.5em
			width: 2.5em	
			border-radius: 50%
			background-color: grey
			margin-top: 4px

			.profile-picture
				height: 90%
				margin-top: 2px

		.user-name
			margin-top: 8%

		.logout
			margin-top: 8%
			color: grey

		.logout:hover
			color: black

	.title	
		font-family: Rock Salt, cursive
		font-size: 1.5em
		width: 15%
		float: left
		margin-left: 22%
		margin-top: -5px
		color: black


