.header
	
	background-color: #006A55
	margin-bottom: 1%
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.4)

	.user-sidebar
		float: right
		margin-top: 1.5em

		.user-options
			float: left
			margin-right: 1em

			div.new-recommendation-indicator

				height: 1.5em
				background: red
				border-radius: 0.75em
				text-align: center
				float: right
				font-size: 0.75em
				padding: 0.25em
				color: white
				margin-top: 1em

			a.button
				text-decoration: none
				border-radius: 1em
				text-align: center
				padding: 1em 1em
				color: white
				font-size: 1em
				font-weight: bold
				cursor: pointer	
				border-style: solid
				border-width: 1px
				margin-right: -0.5em			

			a:hover
				background-color: #5AC3AE
				opacity: 0.4
				color: white

	.user-welcome

		float: right
		margin: 0.5em 1em
		text-align: center

	.title-img
		width: 25%
		height: 20%
		margin-left: 37.5%
