$primary-color: #9AD1ED
$secondary-color: #cbcacc
$border-color: #C2C2C2

.audio-player
	margin: 0.9em 0 0 2em
	height: 17em
	border-radius: 10px
	background-color: whitesmoke
	box-shadow: 10px 10px 10px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.4)
	overflow: hidden

	.song-art
		position: relative
		z-index: 50
		height: 11em
		overflow: hidden

		.song-img
			width: 100%
			margin-top: -2em

	.song-name-div
		position: relative
		z-index: 100
		height: 3em
		text-align: center
		margin-top: -4em
		color: white
		font-weight: bold
		background-color: rgba(0,0,0,.4)


	.progress-bar
		width: 100%
		height: 8px
		display: block
		background: $secondary-color
		position: relative
		bottom: 0px
		cursor: pointer

	.play-time
		color: #393e62

		.startTime
			padding-left: 0.5em

		.endTime
			float: right
			padding-right: 0.5em

	.controls
		margin-left: 33%


		div
			width: 3em
			height: 3em
			border-radius: 50%
			background-color: #5A958F
			display: inline-block
			position: relative
			margin-right: 0.5em

			a

				> i
					font-size: 1.5em
					color: #D0D1D1

				&:hover	> i
					color: #EFEFEF

			#play-icon
				padding-left: 0.7em
				padding-top: 0.5em

			#pause-icon
				padding-left: 0.6em
				padding-top: 0.5em

			#stop-icon
				padding-left: 0.55em
				padding-top: 0.5em



.ui-slider-range
	display: block
	background: rgba(32,132,182,0.7)
	height: 8px

.ui-slider-handle
	position: absolute
	top: -8px
	width: 8px
	height: 22px

	border: none
	outline: none
	margin: 0
	cursor: move
