{% for song in songs %}
<li id="song_{{ song.track_id }}">
    <div class = 'song_name'>
        <a href="#"
       onClick=loadItem('{{ song.track_type }}','{{ song.track_id }}')>{{ song.track_name }}</a>
    </div>
    <div class = 'song_options'>
        <a href='#' id="play-song" title = 'Play Song' onClick=loadItem('{{ song.track_type }}','{{ song.track_id }}')><i class="fa fa-play"></i>
        </a>
        <a href='#' id="recommend-song" title = 'Recommend Song' onclick=recommendSong('{{ song.track_type }}','{{ song.track_id }}')><i class="fa fa-share"></i>
        <a href='#' id="delete-song" onclick="deleteSong( '{{ song.track_id }}' )"><i class="fa fa-times"></i></a>
        </a>
    </div>
</li>
{% endfor %}