{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% include 'user.html' %}
{% endif %}

{% include 'search-box.html' %}
{% include 'player.html' %}

{% include 'sidebar.html' %}


<div id="overlay">
     <div>
        {% csrf_token %}
        <h4 id= 'recommended_song'></h3>
        <input id="receipient_username" type="text" placeholder="Recommend to...." />
        <input id="recomendation_description" type="text" placeholder="Description" />
        <button id="receipient-button" onclick="recommendTo()">></button>
     </div>
</div>

<div class="user-songs">
    <ol id="playlist">
        {% for song in songs %}
            <li id="song_{{ song.track_id }}">
                <div class = 'song_name'>
                    <a href="#"
                   onClick=loadItem('{{ song.track_type }}','{{ song.track_id }}')>{{ song.track_name }}</a>
                </div>
                <div class = 'song_options'>
                    <a href='#' id="play-song" title = 'Play Song' onClick=loadItem('{{ song.track_type }}','{{ song.track_id }}')><i class="fa fa-play"></i>
                    <a href='#' id="delete-song" onclick="deleteSong( '{{ song.track_id }}' )">X</a>
                    <a href='#' id="recommend-song" title = 'Recommend Song' onclick=recommendSong('{{ song.track_type }}','{{ song.track_id }}','{{ song.track_name|urlencode }}')>
                        <i class="fa fa-share"></i>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>

{% endblock content %}

