{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% include 'user.html' %}
{% endif %}

{% include 'search-box.html' %}
{% include 'player.html' %}

{% include 'sidebar.html' %}


<div id="overlay">
     <div>
        {% csrf_token %}
        <h3 id= 'recommended_song'></h3>
        <input id="receipient_username" type="text" placeholder="Recommend to...." />
        <input id="recomendation_description" type="text" placeholder="Description" />
        <button id="receipient-button" onclick="recommendTo()">></button>
     </div>
</div>

<div class="user-songs">
    <ol id="playlist">
        {% for song in songs %}
            <li id="song_{{ song.track_id }}">
                <span class='song_name' song-type='{{ song.track_type }}' song-id='{{ song.track_id }}'>
                    {{ song.track_name }}
                </span>
                <span class='song_options'>
                    <a href='#' class="play-song" title='Play Song' song-type='{{ song.track_type }}', song-id='{{ song.track_id }}'><i class="fa fa-play"></i></a>
                    <a href='#' class="recommend-song" title='Recommend Song' song-type='{{ song.track_type }}' song-id='{{ song.track_id }}' song-name='{{ song.track_name }}'><i class="fa fa-share"></i></a>
                    <a href='#' class="delete-song" song-id="{{ song.track_id }}" title="Remove Song">
                        <i class="fa fa-times"></i>
                    </a>
                </span>
            </li>
        {% endfor %}
    </ol>
</div>

{% endblock content %}

