<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jPlayer</title>

<!-- MOBILE SETTINGS -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/static/jplayer_youtube_assets/css/style.css" />
<!--[if lte IE 8]>
<script type="text/javascript" src="assets/js/html5shiv.js"></script>
<![endif]-->
<!-- JQUERY -->
<script type="text/javascript" src="/static/jplayer_youtube_assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/jplayer_youtube_assets/js/jquery.easing.js"></script>
<!-- JPLAYER THEME -->
<link rel="stylesheet" type="text/css" href="/static/jplayer_youtube_assets/js/lib-jplayer/theme-vintage-wine/style.css" />
</head>

<body>
<div id="content"><div class="container">
    <!-- CONTENT -->

	<style>
	@media only screen and (min-width: 768px) and (max-width: 959px){#yt_player_1{width:768px;height:432px;}}
	@media only screen and (min-width: 480px) and (max-width: 767px){#yt_player_1{width:420px;height:236px;}}
	@media only screen and (max-width: 479px){#yt_player_1{width:300px;height:167px;}}
	</style>
    <script>

	<!-- YOUTUBE API -->
	var tag = document.createElement('script');
	tag.src = "http://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	var yt_player_1;
	function onYouTubeIframeAPIReady(){
		yt_player_1 = new YT.Player('yt_player_1',{
			height		: '540',
			width		: '960',
			videoId		: 'iABUHt-Z9Gc',
			playerVars:{
				'autohide':			1,
				'autoplay':			0,
				'controls': 		0,
				'fs':				1,
				'disablekb':		0,
				'modestbranding':	1,
				// 'cc_load_policy': 1, // forces closed captions on
				'iv_load_policy':	3, // annotations, 1=on, 3=off
				// 'playlist': videoID, videoID, videoID, etc,
				'rel':				0,
				'showinfo':			0,
				'theme':			'dark',	// dark, light
				'color':			'red'	// red, white
				},
			events:{
				'onReady': onPlayerReady,
				'onPlaybackQualityChange': onPlayerPlaybackQualityChange,
				'onPlaybackRateChange' : onPlaybackRateChange,
				'onStateChange': onPlayerStateChange,
				'onError': onPlayerError
				}
			});
		}

	function onPlayerReady(data){
		initializeJplayerControls();
		yt_player_1.setVolume(80);
		$('#jp_container_1 .jp-volume-bar .jp-volume-bar-value').width( '80%' );
		} // END FUNCTION

	function onPlayerPlaybackQualityChange(quality){
		} // END FUNCTION

	function onPlaybackRateChange(rate){
		} // END FUNCTION

	function onPlayerStateChange(state){
		switch(state.data){
			case -1: //unstarted
				/* do something */
				break;
			case 0: // ended
				$('#jp_container_1 .jp-pause').show();
				$('#jp_container_1 .jp-play').hide();
				break;
			case 1: // playing
				$('#jp_container_1 .jp-pause').show();
				$('#jp_container_1 .jp-play').hide();
				startYoutubeTime();
				break;
			case 2: // paused
				$('#jp_container_1 .jp-pause').hide();
				$('#jp_container_1 .jp-play').show();
				break;
			case 3: // buffering
				/* do something */
				break;
			case 5: // video cued
				/* do something */
				break;
			default:
				// do nothing
			}
		} // END FUNCTION

	function onPlayerError(error){
		console.log(error);
		} // END FUNCTION

	function youtubeFeedCallback(data){
		jQuery(document).ready(function(){
			$('#jp_container_1 .jp-title ul li').text( data.entry['title'].$t /* +' - from: '+data.entry["author"][0].name.$t */ );
			$('#jp_container_1 .jp-duration').text( Math.floor(data.entry['media$group']['yt$duration'].seconds/60)+':'+(data.entry['media$group']['yt$duration'].seconds%60) );
			});
		} // END FUNCTION

	var youTubeFrequency = 100;
	var youTubeInterval = 0;
	function startYoutubeTime(){
		if(youTubeInterval > 0) clearInterval(youTubeInterval);  // stop
		youTubeInterval = setInterval( "updateYoutubeTime()", youTubeFrequency );  // run
		} // END FUNCTION
	function updateYoutubeTime(){
		if( yt_player_1.getCurrentTime()>=60 ){
			$('#jp_container_1 .jp-current-time').text( Math.floor(yt_player_1.getCurrentTime()/60)+':'+(yt_player_1.getCurrentTime()%60) );
			}else{
			$('#jp_container_1 .jp-current-time').text( '0:'+FormatNumberLength(Math.round(yt_player_1.getCurrentTime()),2) );

			$('#jp_container_1 .jp-progress .jp-play-bar').width( Math.round((yt_player_1.getCurrentTime()/yt_player_1.getDuration())*100)+'%' );
			}
		} // END FUNCTION
	function FormatNumberLength(num,length){var r=""+num;while(r.length<length){r="0"+r;}return r;} // END FUNCTION

	function initializeJplayerControls(){
		$('#jp_container_1 .jp-pause').hide();
		$('#jp_container_1 .jp-unmute').hide();
		$('#jp_container_1 .jp-restore-screen').hide();

		$('#jp_container_1 .jp-play').live('click',function(){
			$(this).hide();
			$('#jp_container_1 .jp-pause').show();
			yt_player_1.playVideo();
		});
		$('#jp_container_1 .jp-pause').live('click',function(){
			$(this).hide();
			$('#jp_container_1 .jp-play').show();
			yt_player_1.pauseVideo();
		});
		$('#jp_container_1 .jp-full-screen').live('click',function(){
			$(this).hide();
			$('#jp_container_1 .jp-restore-screen').show();
			$('#jp_container_1').addClass('jp-video-full');
			$('#jp_container_1 .jp-jplayer, #jp_container_1 #yt_player_1').css({'width':'100%','height':'100%'});
		});
		$('#jp_container_1 .jp-restore-screen').live('click',function(){
			$(this).hide();
			$('#jp_container_1 .jp-full-screen').show();
			$('#jp_container_1').removeClass('jp-video-full');
			$('#jp_container_1 .jp-jplayer, #jp_container_1 #yt_player_1').removeAttr('style');

			$('#jp_container_1 .jp-gui').show();
			clearTimeout(fullScreenHoverTime);
		});
		$('#jp_container_1 .jp-mute').live('click',function(){
			$(this).hide();
			$('#jp_container_1 .jp-unmute').show();
			$('#jp_container_1 .jp-volume-bar .jp-volume-bar-value').hide();
			yt_player_1.mute();
		});
		$('#jp_container_1 .jp-unmute').live('click',function(){
			$(this).hide();
			$('#jp_container_1 .jp-mute').show();
			$('#jp_container_1 .jp-volume-bar .jp-volume-bar-value').show();
			yt_player_1.unMute();
		});
		$('#jp_container_1 .jp-volume-bar').click(function(e){
			var posX = $(this).offset().left, posWidth = $(this).width();
			posX = (e.pageX-posX)/posWidth;
			$('#jp_container_1 .jp-volume-bar .jp-volume-bar-value').width( (posX*100)+'%' ).show();
			yt_player_1.setVolume(posX*100);

			$('#jp_container_1 .jp-unmute').hide();
			$('#jp_container_1 .jp-mute').show();
		});
		$('#jp_container_1 .jp-seek-bar').click(function(e){
			var posX = $(this).offset().left, posWidth = $(this).width();
			posX = (e.pageX-posX)/posWidth;
			$('#jp_container_1 .jp-progress .jp-play-bar').width( (posX*100)+'%' );
			posX = Math.round((posX)*yt_player_1.getDuration());
			yt_player_1.seekTo(posX, true);
		});
		$("#jp_container_1.jp-video-full .jp-gui").live('click',function(e){
			if(e.target != this) return;
			if( $('#jp_container_1 .jp-play').is(':visible') ){
				$('#jp_container_1 .jp-play').click();
			}else{
			   $('#jp_container_1 .jp-pause').click();
			}
		});

		var fullScreenHoverTime;
		$("#jp_container_1.jp-video-full").live('mouseover',function(){
			$('.jp-gui', this).show();
			clearTimeout(fullScreenHoverTime);
			fullScreenTimeout();
		});
		function fullScreenTimeout(){
			fullScreenHoverTime = setTimeout(function(){
				$('#jp_container_1 .jp-gui').hide();
			},5000);
		}


	}

	</script>
    <script type="text/javascript" src="http://gdata.youtube.com/feeds/api/videos/iABUHt-Z9Gc?v=2&amp;alt=json-in-script&amp;callback=youtubeFeedCallback"></script>​

    <div id="jp_container_1" class="jp-video">
        <div class="jp-type-single">
            <div id="jquery_jplayer_1" class="jp-jplayer">
            	<div  id="yt_player_1"></div>
            </div>
	  		<div class="jp-gui">
                <div class="jp-interface">
                    <div class="jp-controls-holder">
                        <ul class="jp-controls">
                            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                            <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                        </ul>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>

                        <ul class="jp-toggles">
                            <li><a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a></li>
                        	<li><a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen">restore screen</a></li>
                        </ul>
                    </div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-current-time">0:00</div>
                    <div class="jp-duration"><li>0:00</li></div>
                    <div class="jp-title">
                        <ul>
                            <li>Title</li>
                        </ul>
                    </div>
          		</div>
        	</div>
        </div>
    </div>


    <!-- END CONTENT -->
</div></div>
</body>
</html>