<div id="jquery_jplayer_1" class="jp-jplayer">
    <div id="jplayer_sc"></div>
    <div id="yt_player_1"></div>
</div>

<div class="audio-player">
    <div class = 'song-art'>
       <img class= 'song-img' src="">
    </div>
    <div class="song-name"></div>
    <div class='progress-bar'></div>
    <div class='play-time'>
        <span class="startTime">00:00</span>
        <span class="endTime">00:00</span>
    </div>
    <div class="controls">
        <div class="play"><a href="#" ><i class="fa fa-play" id = 'play-icon'></i></a></div>
        <div class="pause"><a href="#" ><i class="fa fa-pause" id = 'pause-icon'></i></a></div>
        <div class="stop"><a href="#" ><i class="fa fa-stop" id = 'stop-icon'></i></a></div>
    </div>
</div>

