<div id="jquery_jplayer_1" class="jp-jplayer">
    <div id="jplayer_sc"></div>
    <div id="yt_player_1"></div>
</div>

<div class="audio-player">
    <span class = 'song-art'>
       <img class= 'song-img' src="">
    </span>
    <span>
    <div class="controls">
        <span><a href="#" class="play"><i class="fa fa-play"></i></a></span>
        <span><a href="#" class="pause"><i class="fa fa-pause"></i></a></span>
        <span><a href="#" class="stop"><i class="fa fa-stop"></i></a></span>
        <span><div class="song-name"></div></span>
    </div>
    <div class ='player'>
        <div class='progress-bar'></div>
        <div class='play-time'>
            <span class="startTime">00:00</span>
            <span class="endTime">00:00</span>
        </div>
    </div>
    </span>

</div>