{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% include 'sidebar.html' %}
{% endif %}

{% block song_input %}{% endblock song_input %}

<div class="user-songs">
    <ol id="playlist">
        {% for song in songs %}
            <li id="song_{{ song.track_id }}">
                <a href="#"
                   onClick=loadItem('{{ song.track_type }}','{{ song.track_id }}')>{{ song.track_name }}</a>
                <!-- <button id="delete-song" onclick="deleteSong( '{{ song.track_id }}' )">Delete</button> -->
                <button id="recommend-song" onclick=recommendSong('{{ song.track_type }}','{{ song.track_id }}')>Recommend</button>
            </li>
        {% endfor %}
    </ol>
    <fieldset class='recommend-to'>
        <input id="receipient_username" type="text" placeholder="Recommend to...." />
        <button id="receipient-button" onclick="recommendTo()">></button>
    </fieldset>
</div>
<div id="recos"></div>

{% include 'search.html' %}

{% endblock content %}