{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="user-welcome">
        <span>Welcome, {{ user.username }}.</span>
        <form method="get" action="logout/">
            <button class="button" type="submit">Logout</button>
        </form>
    </div>
{% endif %}

{% block song_input %}{% endblock song_input %}
<a href="/getrecommendations">Your Recommendations</a>
<div id="jquery_jplayer_1" class="jp-jplayer">
    <div id="jplayer_sc"></div>
    <div id="yt_player_1"></div>
</div>

<div class="audio-player">
    <div class="song-name"></div>
    <div class='progress-bar'></div>
    <div class='play-time'>
        <span class="startTime">00:00</span>
        <span class="endTime">00:00</span>
    </div>
    <div class="controls">
        <span><a href="#" class="play">play</a></span>
        <span><a href="#" class="pause">pause</a></span>
        <span><a href="#" class="stop">stop</a></span>
    </div>
</div>

<div class="user-songs">
    <ol id="playlist">
        {% for song in songs %}
            <li id="song_{{ song.track_id }}">
                <a href="#"
                   onClick=loadItem('{{ song.track_type }}','{{ song.track_id }}')>{{ song.track_name }}</a>
                <!-- <button id="delete-song" onclick="deleteSong( '{{ song.track_id }}' )">Delete</button> -->
                <button id="recommend-song" onclick=recommendSong('{{ song.track_type }}','{{ song.track_id }}')>Recommend</button>
            </li>
        {% endfor %}
    </ol>
    <fieldset id = 'recommend-to'>
        <input id="receipient_username" value='' type="text" placeholder="Recommend to...." />
        <button id="receipient-button" onclick="recommendTo()">></button>
    </fieldset>
</div>

{% include 'search.html' %}

{% endblock content %}