<div class="user-welcome">
    <span>Welcome, {{ user.username }}.</span>
    <!-- <form method="get" action="/">
        <button class="button" type="submit">Home</button>
    </form> -->
    <a href="#" class="button" onClick=getUserSongs()>Home</a>
<!--     <form method="get" action="/getrecommendations">
        <button class="button" type="submit">Your Recommendations</button>
    </form> -->
    <a href="#" class="button" onClick=recommendationPage()>Your Recommendations</a>

    <form method="get" action="logout/">
        <button class="button" type="submit">Logout</button>
    </form>
</div>