<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/simple_yt_sc.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://jplayer.org/1.2.0/js/jquery.jplayer.min.js"></script>
    <script src="/static/script_simple_yt_sc.js"></script>

</head>

<div class="container">

<div id="jquery_jplayer_1" class="jp-jplayer">
    <div id="jplayer_sc"></div>
    <div  id="yt_player_1"></div>
</div>

<div class ="controls">
	<ul class="control_list">
        <li><a href="#"  class="play">play</a></li>
        <li><a href="#"  class="stop">stop</a></li>
    </ul>
</div>

    <a href="#" onClick="loadVideo('H916EVndP_A')">Youtube</a>
    <a href="#" onClick="loadSound()">Soundcloud</a>

    <h3>Media Playlist</h3>
    <ul class="media-list">

    </ul>

</div>


</body>
</html>