
{% extends 'playlist.html' %}

{% block song_input %}

<div>
    <div class="error">Only YouTube or SoundCloud links accepted.</div>
    <form class="song-upload">
        <fieldset>
            {% csrf_token %}
            <input type="text" class="song_url_input" value="" id="song_url" placeholder="Enter Song URL or Search for a Song">
            <button type="button" class="save-button" id="save_song" onclick="saveSong()">Add / Search</button>
        </fieldset>
    </form>
</div>

{% endblock song_input %}

